{% extends 'base.html' %}

{% block head_title %} {{ post.title }} {% endblock %}
{% block title %} {{ post.title }} {% endblock %}

{% block open_graph_data  %}
    <meta property="og:title" content="Блог Авы: {{ post.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://ava-katushka.ru/blog/view/{{ post.slug }}">
    <meta property="og:image" content="{{ post.postpreview.image.url }}">
    <meta property="og:description" content={{ post.postpreview.catching_text }}>
    <meta property="og:site_name" content="Блог Авы Катушки">
{% endblock %}

{% block content %}
    {% load blog_extras %}
    {% load static %}
    <div class="layout-positioner bordered">
        <div class="article-column">


            {% for image,text in post.imageblock_set.all|zip:post.textblock_set.all %}
                {% if forloop.first %}
                    <img class="post-img" src="{{ image.image.url }}" alt="{{ image.alt }}">
                    <h1>{{ post.title }}</h1>
                    <p>{{ text.text|safe }}</p>
                {% else %}
                    <img class="post-img" src="{{ image.image.url }}" alt="{{ image.alt }}">
                    <p>{{ text.text|safe }}</p>

                {% endif %}


            {% endfor %}
        <div class="post-date">
            {{ post.postpreview.time_posted }}
        </div>
            <div class="end-of-post"><img src="{% static 'blog/end-of-post.png' %}">


                <a href="/" class="small-black-button">Вернуться домой</a>

            </div>

        </div>

    </div>



    <style>
        .article-column {

            background: white;
            min-height: 500px;
            border-radius: 25px;
            display: inline-block;
            float: left;
            width: 800px;
            padding: 20px;
            padding-right: 80px;
            padding-left: 80px;
            box-shadow: 10px 10px 5px #888888;
            margin-bottom: 30px;
            font-size: 1.4em;
        }

        .article-column h1 {
            font-size: 40px;
            text-align: center;
        }

        .end-of-post {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        .article-column img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .post-img {
            max-width: 600px;
            border-radius: 25px;
        }

        .end-of-post .small-black-button {
            background-color: #505050;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: inherit;
            width: 300px;
        }

        .post-date {
            color: gray;
            text-align: right;
        }

    </style>
{% endblock %}

