        .preview-column {
            display: inline-block;
            margin-right: 20px;
            vertical-align: top;
            width: 316px;
            min-height: 300px;
            margin-bottom: 20px;
            text-align: center;
            background: white;

            border: 2px solid #888888;

            box-sizing: border-box;
            border-radius: 25px;
            box-shadow: 10px 10px 5px #888888;
            padding: 5px;

            color: black;

        }



        .preview-heading {
            font-size: 30px;
        }

        .preview-column img{
            border-radius: 25px;
            width: 300px;
        }

    .preview-column:nth-child(3n) {
        margin-right: 0px;
    }
