{% extends 'base.html' %}
{% block title %} Welcome to my blog
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style_index.css' %}"/>

    <div class="layout-positioner bordered">
        {% block post_previews %}
            {% for post_preview in post_previews %}

                <div class="preview-column">
                    <a href="{{ post_preview.get_absolute_url }}">
                        <img src="{{ post_preview.image.url }}" alt="{{ post_preview.slug }}"/>
                    </a>

                    <a href="{{ post_preview.get_absolute_url }}"
                       class="preview-heading">{{ post_preview.title }}</a>

                    <p>{{ post_preview.catching_text|safe }} </p>


                </div>

            {% endfor %}
        {% endblock %}


    </div>

    {#        <h2 class="my_red">Categories</h2>#}
    {#    {% if categories %}#}
    {#        <ul>#}
    {#            {% for category in categories %}#}
    {#                <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>There are no posts. So there are no categories. Coming soon. </p>#}
    {#    {% endif %}#}
    {#    <h2>Posts</h2>#}
    {#    {% if posts %}#}
    {#        <ul>#}
    {#            {% for post in posts %}#}
    {#                <li><a href="{{ post.get_absolute_url }}"/> {{ post.title }}</li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {##}
    {#    {% else %}#}
    {#        <p>There are no posts. The author is Too Lazy. </p>#}
    {#    {% endif %}#}


    <style>
        .preview-column a {
            color: black;
            text-decoration: none;
            font-weight: bold;
        }

        .preview-column p {
            font-size: 1.4em;
        }
    </style>

{% endblock %}